/*
 *= require normalize-css
 *= require jquery-ui/selectmenu
 *= require jquery-ui/button
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900,300,300italic,400italic,700&subset=latin,cyrillic);

@font-face {
  font-family: 'websymbolsligaregular';
  src: font-url('websymbolsliga-regular.eot');
  src: font-url('websymbolsliga-regular.eot?#iefix') format('embedded-opentype'),
       font-url('websymbolsliga-regular.woff') format('woff'),
       font-url('websymbolsliga-regular.ttf') format('truetype'),
       font-url('websymbolsliga-regular.svg#websymbolsregular') format('svg');
}

body {
  padding: 0;
  margin: 0;

  .main_wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;

    .top_wrapper {
      height: 140px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;

      .logo {
        background-color: red;
        min-width: 120px;
        max-width: 120px;
        a.logo_link {
          margin-left: 44px;
          font-size: 48px;
          line-height: 48px;
          font-weight: 700;
          font-family: 'Merriweather', Georgia;
          color: #222;
        }
      }

      .main_header {
        background-color: blue;
        padding: 10px;
        flex-grow: 1;
        flex-shrink: 1;
        h1 {
          display: inline;
          span {
            select.game_option {
              width: 70px;
            }
            #game_option-button {
              margin: 0 20px;
              height: 42px;
              border: 1px solid #c6cfd6;
              border-radius: 21px;
              background: white;
              vertical-align: bottom;
              &:focus {
                outline: none;
              }
              .ui-selectmenu-text {
                padding: 0;
                padding-left: 18px;
                padding-top: 4px;
                font-family: 'Merriweather', Georgia;
                font-size: 24px;
                font-weight: 300;
                color: #333;
              }
            }
          }
        }
        .random_option {
          display: inline;
          vertical-align: 13px;
        }
      }

      .author {
        padding: 10px;
        min-width: 300px;
        max-width: 300px;
        background-color: yellow;
        font-size: 16px;
        text-align: right;
        a {
          font-size: 16px;
        }
      }
    }

    .content_wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      justify-content: space-between;

      .left_wrapper {
        background-color: yellow;
        min-width: 120px;
        max-width: 120px;
        nav.left_nav {
          display: block;
          a.games_link {
            margin: 5px auto;
            display: block;
            width: 42px;
            height: 42px;
            image.games_icon {
              display: block;
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      .center_wrapper {
        background-color: red;
        padding: 10px;
        flex-grow: 1;
        flex-shrink: 1;
      }

      .right_wrapper {
        background-color: blue;
        padding: 10px;
        min-width: 350px;
        max-width: 350px;
      }
    }
  }

  p.caption {
    margin: 0;
    font-size: 12px;
    color: #8b97a0;
    line-height: 20px;
  }

  p.divider {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Merriweather', Georgia;
  }

  p, a {
    // font-family: 'ff-more-web-pro', 'Merriweather', Georgia;
    font-family: 'Merriweather', Georgia;
    // font-size: 14px;
    color: #333;
    font-weight: 300;
  }

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: #333;
    font-family: 'Merriweather', Georgia;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    font-family: 'Merriweather', Georgia;
  }

  h3 {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    font-family: 'Merriweather', Georgia;
  }

  a {
    color: #3f89b8;
    text-decoration: none;
    font-size: 12px;
  }

  input a span textarea button {
    &:focus {
      outline: none;
    }
  }

  textarea {
    resize: none;
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .selectmenu_overflow { height: 200px; }

  .small_button {
    height: 30px;
    border: 1px solid #c6cfd6;
    border-radius: 15px;
    color: #333;
    font-family: 'Merriweather', Georgia;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 9px 25px;
    cursor: pointer;
  }
}
