/*
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900,300,300italic,400italic,700&subset=latin,cyrillic);

@font-face {
  font-family: 'websymbolsligaregular';
  src: font-url('websymbolsliga-regular.eot');
  src: font-url('websymbolsliga-regular.eot?#iefix') format('embedded-opentype'),
       font-url('websymbolsliga-regular.woff') format('woff'),
       font-url('websymbolsliga-regular.ttf') format('truetype'),
       font-url('websymbolsliga-regular.svg#websymbolsregular') format('svg');
}

body {
  padding: 0;
  margin: 0;

  .main_wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
    // background: gray;
    .top_nav_wrapper {
      // background: blue;
    }
    .left_nav_wrapper {
      float: left;
      clear: none;
      width: 120px;
      // background: yellow;
      margin: 0;
    }
    .content_wrapper {
      float: left;
      width: 60%;
      padding-top: 68px;
    }
    .right_wrapper {
      // background: red;
      clear: none;
      float: right;
      width: 300px;
    }
    .footer {
      clear: both;
    }
  }

  nav.left_nav {
    display: block;
    a.games_link {
      margin: 98px auto;
      display: block;
      width: 42px;
      height: 42px;
      image.games_icon {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }

  .top_nav_wrapper {
    a.logo {
      text-align: center;
      margin-left: 48px;
      margin-top: 76px;
      display: block;
      line-height: 24px;
      height: 32px;
      width: 24px;
      font-size: 48px;
      color: black;
      font-weight: 700;
      font-family: 'Merriweather', sans-serif;
      color: #222;
    }
    a.author_link {
      margin-right: 30px;
      float: right;
      display: block;
      position: relative;
      bottom: 44px;
      image.author_icon {
        display: block;
        height: 44px;
        width: 44px;
      }
    }
  }

  .top_nav_wrapper {
    ul.games:before {
      background-color: #222;
      height: 100px;
      width: auto;
    }
  }

  p.caption {
    font-size: 12px;
    font-style: italic;
    color: #8b97a0;
  }

  p.divider {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    vertical-align: center;
    letter-spacing: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Merriweather', Georgia;
  }

  p, a {
    // font-family: 'ff-more-web-pro', 'Merriweather', Georgia;
    font-family: 'Merriweather', Georgia;
    // font-size: 14px;
    color: #333;
    font-weight: 300;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
  }

  h2 {
    font-size: larger;
    font-weight: 300;
  }

  h3 {
    font-size: large;
    font-weight: 300;
  }

  a {
    color: #3f89b8;
    text-decoration: none;
    font-size: 12px;
  }

  textarea {
    resize: none;
    border: black;
    border-radius: 5px;
    margin-top: 40px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  .fb-like {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
}
