.ui-widget {
  font-family: 'Merriweather', Georgia;
}

.new_game {
  width: 100%;
  position: relative;
  top: -30px;
  textarea.game_textarea {
    margin-top: 100px;
    font-family: 'Merriweater', Georgia;
    font-size: 24px;
    color: #333;
    font-weight: 300;
  }
  p.game_caption {
    margin-top: 40px;
    font-size: 14px;
    line-height: 28px;
  }
  .new_game__link {
    margin: 40px 0 0 250px;
    padding: 24px 20px;
    background: white;
    border: 1px solid #c6cfd6;
    border-radius: 5px;
    .ui-button-text {
      font-size: 13px;
      line-height: 0;
      letter-spacing: 3px;
    }
  }
}

#game_option-menu {
  border: 1px solid #c6cfd6;
  border-top: none;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  .ui-menu-item {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #333;
  }
  .ui-state-focus {
    background: #c6cfd6;
    border: 1px solid white;
  }
}

ul.game_sessions {
  list-style: none;
  .game_session {
    a.game_session__name {
      color: #8b97a0;
      font-size: 12px;
      font-style: italic;
    }
    p.game_session__text {
      margin: 8px auto;
      font-size: 14px;
    }
    p.game_session__footer {
      margin-top: 8px;
      a.game_session__footer_author {
        font-size: 14px;
      }
      span.game_session__footer_date {
        margin-left: 10px;
        font-size: 10px;
        font-style: italic;
        color: gray;
      }
    }
  }
}

h1.game_name {
  > span.selected_game_option {
    margin: 0 20px;
    background-color: #fff600;
    border-radius: 30px;
    padding: 11px 16px 9px 16px;
    font-weight: 300;
    font-size: 24px;
    color: #333;
    line-height: 8px;
    text-transform: uppercase;
    position: relative;
    top: 6px;
  }
}

.complete_session_buttons {
  padding: 10px auto;
  .complete_session_buttons__span {
    margin: 20px auto;
    display: block;
    .submit_session {
      height: 50px;
      cursor: pointer;
      color: #333;
      padding: 26px 20px;
      margin: 10px auto;
      margin-left: 230px;
      background: white;
      border: 1px solid #c6cfd6;
      border-radius: 5px;
      font-size: 13px;
      letter-spacing: 3px;
      line-height: 0;
      font-weight: 300;
      font-family: 'Merriweather', Georgia;
      .ui-button-text {
        font-size: 13px;
        line-height: 0;
        letter-spacing: 3px;
      }
    }
    .restart_session {
      background-color: white;
      height: auto;
      margin: 10px auto;
      margin-left: 277px;
    }
  }
}

