.ui-widget {
  font-family: 'Merriweather', Georgia;
}

.new_game {
  width: 100%;
  position: relative;
  top: -30px;
  textarea.game_textarea {
    margin-top: 100px;
    font-family: 'Merriweater', Georgia;
    font-size: 24px;
    color: #333;
    font-weight: 300;
  }
  h1.game_name {
    display: inline;
    color: #333;
    font-family: 'Merriweather', Georgia;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    vertical-align: top;
    select.game_option {
      width: 70px;
    }
    > span.game_option {
      margin: 0 20px;
      background-color: #fff600;
      border-radius: 30px;
      padding: 10px 16px;
      font-weight: 300;
      font-size: 24px;
      color: #333;
      line-height: 8px;
      position: relative;
      top: 6px;
    }
    #game_option-button {
      position: relative;
      bottom: 10px;
      margin: 0 20px;
      height: 42px;
      border: 1px solid #c6cfd6;
      border-radius: 21px;
      background: white;
      &:focus {
        outline: none;
      }
      .ui-selectmenu-text {
          padding: 0;
          padding-left: 18px;
          padding-top: 4px;
          font-family: 'Merriweather', Georgia;
          font-size: 24px;
          font-weight: 300;
          color: #333;
      }
    }
  }
  .random_option {
    height: 30px;
    border: 1px solid #c6cfd6;
    border-radius: 15px;
    display: inline;
    color: #333;
    font-family: 'Merriweather', Georgia;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 23px 8px 27px;
    cursor: pointer;
    position: relative;
    top: -26px;
  }
  p.game_caption {
    margin-top: 40px;
    font-size: 14px;
    line-height: 28px;
  }
  .new_game__link {
    margin: 20px auto;
    padding: 24px 20px;
    background: white;
    border: 1px solid #c6cfd6;
    border-radius: 5px;
    .ui-button-text {
      font-size: 13px;
      line-height: 0;
      letter-spacing: 3px;
    }
  }
}

#game_option-menu {
  border: 1px solid #c6cfd6;
  border-top: none;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  .ui-menu-item {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #333;
  }
  .ui-state-focus {
    background: #c6cfd6;
    border: 1px solid white;
  }
}

.overflow { height: 200px; }

ul.game_sessions {
  list-style: none;
  .game_session {
    a.game_session__name {
      color: #8b97a0;
      font-size: 12px;
      font-style: italic;
    }
    p.game_session__body {
      margin: 8px auto;
      font-size: medium;
    }
    p.game_session__footer {
      margin-top: 8px;
      a.game_session__footer_author {
        font-size: medium;
      }
      span.game_session__footer_date {
        margin-left: 10px;
        font-size: small;
        font-style: italic;
        color: gray;
      }
    }
  }
}

